<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Currency exchange rate</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="root"></div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/js/bundle.js"></script>

</body>
</html>